 /* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); 



*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 62.50%;
    background-color:#eeecec;
}
:root{
    --button-color:#5A20CB;
}
.header-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding-left: 105px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.container{
    width: 	1140px;
    margin: auto;
    padding: 18px;

}

a{
    text-decoration: none;

}
.button{
   color: white;
   background-color: var(--button-color);
   font-size: .9rem;
   padding:10px 20px;
   font-weight: 500;
}
.text-center{
    text-align: center;
}

/* top-section  */
.hero-section{
    display: grid;
    grid-template-columns: 600px 0; 
    grid-template-rows: 500px;
    grid-column-gap: 20px;
    /* align-items: center; */
    /* justify-content: space-between; */

}
.hero-title{
    font-size: 3rem;
    width: 80%;

}
.hero-title h1{
    font-size: 2.5rem;
    padding-bottom: 20px;

}
.hero-title p{
    font-size: .8rem;
    font-weight: 500;
    padding-bottom: 30px;
}
.hero-title .button{
    border-radius: 20px;
}
.fa-arrow-right{
    font-size: .7rem;
    padding-left: 5px;
}
.hero-img{
    background-image: url(image/Circle\ design.svg);
    background-size: cover;
}
/* collection-section  */
.section-title h2{
    font-size: 1.5rem;
    padding-bottom: 50px;
}
.collection-wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.collection{
    width: 300px;
    padding: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;

}
.collection-title{
    padding-bottom:5px;
}
.collection-title h2{
    font-size: 1.5rem;
    font-weight: 500;
}

.collection-title span{
    font-size: 1.5rem;
    font-weight: 500;
}

i.fas.fa-star {
    color: orange;
}
.rating span{
    font-weight: 600;
    font-size: .8rem;;
}
.collection h4{
    font-size: .7rem;
    color: #868686;
}
footer{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1.5; */
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 6, 41);
    color: white;
    text-align: center;
}
.social-media-icon i{
    margin-right: 10px;
    align-items: center;
}

@media (max-width:992px){
     .section-2 .collection-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width:668px){
     .section-2 .collection-wrap{
        grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 668px) {
        .hero-section{
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 100px;
        }
    }
}